body{
    font-family: Georgia, 'Times New Roman', Times, serif;
    /* background: url(../images/hora-de-aventuras-001.jpg); */
    background-color: rgb(127,206,239);
    font-size: 21px;
    line-height: 1.7;
    margin: 0 auto;
}
h1{
    font-size: 57px;
    margin-left: 25%;
    margin-top: 10%;
}
.container{
    margin-left: 25%;
}
img{
    float: left;
    margin: -168px auto auto -8px;
}
.btn{
    background: rgb(253,187,1);
}

#start{
    margin: -8px;
    width: 111%;
    height: 100%;
}

