body{
    font-family: Georgia, 'Times New Roman', Times, serif;
    /* background: url(../images/hora-de-aventuras-001.jpg); */
    background-color: rgb(127,206,239);
    font-size: 21px;
    line-height: 1.7;
    margin: 0 auto;
}
.jumbotron{
    text-align: center;
    font-size: 57px;
    background-color: rgb(127,206,239);

}
.container{
    margin-left: 33%;
    margin-top: -85px;
    width: 50%;
}
img{
    float: left;
    margin: -168px auto auto -8px;
}
.btn{
    background: rgb(253,187,1);
}

#start{
    margin: -8px;
    width: 111%;
    height: 100%;
}
#submit{
    background-color: rgb(253,187,1);
    margin-left: 50%;
}
#results{
    background-color: rgb(253,187,1);
    margin-left: 44%;
    margin-top: 2%;
    text-align: center;
    width: 20%;
}

